<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ResultActivity"/>
        <activity android:name=".ContentActivity"/>
        <activity android:name=".ContentActivity2"/>
        <activity android:name=".ContentActivity3"/>
        <activity android:name=".ContentActivity4"/>
        <activity android:name=".ContentActivity5"/>
        <activity android:name=".ContentActivity6"/>
        <activity android:name=".ContentActivity7"/>
        <activity android:name=".ContentActivity8"/>
        <activity android:name=".ContentActivity9"/>
        <activity android:name=".ContentActivity10"/>
        <activity android:name=".ContentActivity11"/>
        <activity android:name=".ContentActivity12"/>
        <activity android:name=".ContentActivity13"/>
        <activity android:name=".ContentActivity14"/>
        <activity android:name=".ContentActivity15"/>
        <activity android:name=".ContentActivity16"/>
        <activity android:name=".ContentActivity17"/>
        <activity android:name=".ContentActivity18"/>
        <activity android:name=".ContentActivity19"/>
        <activity android:name=".ContentActivity20"/>
    </application>

</manifest>